<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw6 cms">{{.description | markdownify}}</p>

		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .blurbs }}
				<div class="w-100-ns mb3 bg-grey-1 pa2 flex-ns flex-wrap">
					<div class="w-60">
						<div class="cms">{{ .text | markdownify }}</div>
					</div>
					<div class="w-40">
						<img src="{{ .image }}" alt="" class="tr db mb3 w-100 br1">
					</div>
				</div>
			{{ end }}
		</div>
	</div>
</div>
