<nav id="nav-main" class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<div class="pa3 db mr3 h-100 w5 flex justify-left">
		<a href="/">
			<img src="/img/logo.svg" alt="Henna Garden logo" class="br0 db mb0 w3 pr2" style="min-width: 50px;" />
		</a>
		<h2 class="f3 b db w-100 pt2 pl2"><nobr><img src="/img/logotype.svg" alt="Henna Garden logo" class="pt1 br0 mb0 w-100 mw4"/></nobr></h2>
	</div>
	

	<!-- Primary Nav -->
	<ul class="flex b grey-3" id="nav-p">
		<li><a href="/services" class="pa3 no-underline db">Services</a></li>

		<li><a href="/project" class="pa3 no-underline db">Portfolio</a></li>

		<li><a href="/about" class="pa3 no-underline db">About</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>


	<div id="nav-r" class="br1 pa1 ma3">
        <a class="blue b f4 ph2 no-underline" onclick="javascript:toggleMenu();">&#9776;</a>
    </div>

</nav>



<div id="mobile-menu" class="absolute fixed bg-black z-max">
	<div class="bg-white w-100 pa3 db mr4 h-100 tc">
		<a href="/"><img src="/img/logo.svg" alt="Hena Garden logo" class="pt1 br0 mb0 w-100 mw4"/></a>
	</div>
	<ul class="pa3 mt2 w-100 white center tc b">
		<li class="pv1 f3"><a href="/services" class="pa3 no-underline db">Services</a></li>

		<li class="pv1 mb3 f3"><a href="/project" class="pa3 no-underline db">Portfolio</a></li>

		<li class="pv1 f3"><a href="/about" class="pa3 no-underline db">About</a></li>

		<li class="pv1"><a href="/contact" class="pa3 no-underline db">Contact Us</a></li>	
	</ul>
	<p class="pt3 f6 b blue center tc w-100"><a class="bg-highlight br1 pa2 ph3" onclick="javascript:toggleMenu();">&times;</a></p>
</div>

<script type="text/javascript">
	function toggleMenu (){
		$('#mobile-menu').fadeToggle();
	}
</script>